<ion-item-sliding #slidingItem>
  <ion-item detail class="pointer">
    <ion-thumbnail slot="start">
      <ion-img [src]="beer.imageUrl"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <h2>{{ beer.name }}</h2>
      <p>{{ beer.description }}</p>
    </ion-label>
  </ion-item>
  <!-- this is the side from where to slide, default is end -->
  <ion-item-options side="end">
    <ion-item-option color="secondary" (click)="onEdit(beer.id, slidingItem)">
      <ion-icon name="create" slot="icon-only"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
