<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/beers"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ beer?.name }}</ion-title>
    <ion-button slot="primary" (click)="deleteBeer()">
      <ion-icon name="trash" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <!-- TODO: make smaller -->
        <ion-card>
          <ion-card-title>{{ beer?.name }}</ion-card-title>
          <ion-card-subtitle>Another amazing beer</ion-card-subtitle>
        </ion-card>
        <ion-img [src]="beer?.imageUrl"></ion-img>
        <ion-card-content>
          <p>{{ beer?.artisan ? 'Homebrewed' : 'Commercial' }}</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
